body {
    background-color: #121417;
    color: #fff;
    font-family: 'Open Sans', arial;
}

.fa-chevron-up {
    color: gray;
    bottom: 0px;
    right: 0px;
    font-size: 22px;
    border: 2px solid gray;
    border-radius: 50%;
    z-index: 100000;
    cursor: pointer;
}

.bgcolor.scrolled {
    background-color: #222425 !important;
    transition: ease-in-out 0.5s all;
}

#nav-bar {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

#nav-bar.scrolled {
    background-color: #222425 !important;
    transition: ease-in-out 0.5s all;
}

.btn-col {
    background-color: #fff;
    color: #000;
}

.btn-col:hover {
    background-color: #ef5350;
    color: #fff;
}

nav ul li a {
    font-weight: 600;
}

nav ul li {
    margin: 0px 3px;
}

nav ul li a:hover {
    color: #ef5350 !important;
}

.home {
    border-top: 2px solid #ef5350;
}

.bg-foshia {
    background-color: #ef5350;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.navbar-brand span {
    font-size: 25px;
    font-weight: 700;
}

.btn-col a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.btn-col a:hover {
    background-color: #ef5350;
    color: #fff;
}


/* end of navbar CSS */

#carousel-slider {
    background-size: cover;
    height: 100vh;
}

.header-caption h1 {
    font-size: 70px;
}

.header-caption p {
    font-size: 20px;
}

.header-caption i {
    font-size: 25px;
    position: absolute;
    bottom: 50px;
    left: 46%;
}

.btn-learn {
    background-color: #ef5350;
    color: #fff;
}

.btn-learn:hover {
    background-color: #fff;
}

#carousel-slider i {
    font-size: 40px;
    color: #fff;
    margin: 0px 30px;
}

#carousel-slider i:hover {
    color: #ef5350;
    cursor: pointer;
}

.fa-mouse {
    color: #fff !important;
    cursor: initial !important;
}


/* end of header carrousel slider */

.who h2 {
    font-size: 38px;
    font-weight: 700;
}

.who i {
    border-radius: 50%;
    font-size: 22px;
}

.who .fa-users {
    font-size: 20px;
}


/* end of who section css */

.great {
    background-image: url('../Images/full-1.jpg');
    background-size: cover;
    /* height: 70vh; */
}

.great h2 {
    font-size: 38px;
    font-weight: 700;
}


/* end of great section */

.counter {
    background-image: url('../Images/counter.jpg');
    background-size: cover;
    background-position: center center;
    height: 50%;
}

.counter .layer {
    background-color: rgba(239, 83, 80, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.counter .col-md-3 {
    margin: 20px 0px;
}

.counter h2 {
    font-size: 38px;
    font-weight: 700;
}

.counter p {
    font-size: 20px;
}


/* end of counter section */

.results {
    background-image: url('../Images/counter1.jpg');
    background-size: cover;
    background-position: center center;
    height: 90%;
}

.results h2 {
    font-size: 38px;
    font-weight: 700;
}


/* end of results section */

.why h2,
h3 {
    font-size: 38px;
    font-weight: 700;
}

.why h3 {
    font-size: 32px;
}

.why i {
    color: #ef5350;
}

.why-options i {
    color: #fff;
    background-color: #ef5350;
    font-size: 40px;
    margin: 30px 0px;
}


/* end of why section */

.choach {
    background-color: #1f1f1f;
}

.choach h2,
h3 {
    font-size: 38px;
    font-weight: 700;
}

.choach h3 {
    font-size: 32px;
}

.choach i {
    color: #ef5350;
}

.card-body,
.card-footer {
    background-color: #222425;
}

.card-icons i {
    font-size: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.card-icons .fa-facebook-f {
    padding: 0px 12px;
}

.card-icons .fa-facebook-f:hover {
    background-color: #4267B2 !important;
    border: 1px solid #4267B2 !important;
}

.card-icons .fa-twitter:hover {
    background-color: #1DA1F2 !important;
    border: 1px solid #1DA1F2 !important;
}


/* end of choach section */

.question h2,
h3 {
    font-size: 38px;
    font-weight: 700;
}

.question h3 {
    font-size: 32px;
}

.question i {
    color: #ef5350;
}

.question {
    background-image: url('../Images/shutterstock_274434071-800x760.jpg');
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.layerr {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}


/* end of question section */

.testimonial h2,
h3 {
    font-size: 38px;
    font-weight: 700;
}

.testimonial h3 {
    font-size: 32px;
}

.testimonial i {
    color: #ef5350;
}

.bg-testimonial-card {
    background-color: #1f1f1f;
}

.bg-testimonial-card p {
    font-size: 18px;
}

.rectangle-small {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top: 92%;
    left: 10%;
}

.join {
    background-image: url('../Images/gym-man-woman-workout-fitness.jpg');
    background-size: cover;
    height: 70vh;
}

.join .layerr {
    background-color: rgba(0, 0, 0, 0.6);
}

.join h2 {
    font-size: 38px;
    font-weight: 700;
}


/* end of join section css */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    text-transform: uppercase;
}

::selection {
    background-color: rgba(166, 175, 189, 0.3);
    color: #6c757d;
}


/*header*/

.ourteam-caption {
    background-image: url(../Images/our1.jpg);
    background-attachment: scroll;
    background-size: cover;
    height: 47vh;
    text-align: center;
}

.about-caption {
    background-image: url(../Images/1.jpg);
    background-attachment: scroll;
    background-size: cover;
    height: 51.5vh;
    text-align: center;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0%;
}

.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #ef5350;
}

.breadcrumb-item active {
    color: #fff;
}


/* end of header CSS */


/*ourteam*/

.outline {
    background-color: #1d1d1d;
}

.ourteam-icon {
    color: #ef5350;
    font-size: 2.2rem;
}

.card {
    background-color: #1d1d1d;
    border: none;
    border-radius: 0%;
}

.icon-border {
    width: 40px;
    height: 40px;
    font-size: 1 rem;
    border: #fff solid 1px;
    margin: auto 5px;
    padding: 9px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.icon-section .fa-facebook-f:hover {
    background-color: #4267B2;
    border: 1px solid #4267B2;
}

.icon-section .fa-twitter:hover {
    background-color: #00acee;
    border: 1px solid #00acee;
}

.daken {
    background-color: #181717;
}


/*end of ourteam*/


/*feature*/

.Features-packedge p {
    font-size: 14px;
}


/*end of feature*/


/*Top Notch Trainers*/

.toptrainers p {
    font-size: 14px;
}


/*end of Top Notch Trainers*/


/*gallery*/

.gallery-layer {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-box {
    position: relative;
}

.gallery-box img {
    transition: all 0.27s;
}

.gallery-box:hover img {
    transform: scale(1.1, 1.1);
}

.gallery-layer {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
    transition: all 0.25s;
}

.gallery-layer:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.search-icon {
    font-size: 3rem;
    margin: auto 5px;
    padding: 9px;
    background-color: transparent;
    text-align: center;
}


/*end of gallery*/


/*whatdoweoffer*/

.offer-icons {
    height: 25%;
    color: #fff;
    font-size: 29px;
}

.pmodify {
    line-height: 1.5em;
    font-size: 14px;
}

.hmodify {
    font-size: 0.95em;
    padding-bottom: 0.5rem;
}


/*end of whatdoweoffer*/


/*CONTACT FORM*/

.contact-input {
    background-color: transparent;
    border-radius: 0%;
}

.btn-danger {
    background-color: #ef5350 !important;
}

button:hover {
    /* background-color: #1f1f1f !important; */
    border-color: #1f1f1f !important;
}

bb :hover {
    background-color: #1f1f1f !important;
    border-color: #1f1f1f !important;
}

.contact-icons {
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ef5350;
    margin: auto;
    margin-right: 12px;
    padding: 7px;
}


/*end of CONTACT FORM*/

.f-footer,
.bg-darkk {
    background-color: #1f1f1f !important;
}

.earth {
    background-image: url('../Images/contact-details-map.png');
    background-size: cover;
}

.footer-caption p {
    font-size: 12px;
}

.l-footer img {
    width: 15%;
}

.l-footer span {
    font-size: 260%;
    font-weight: 800;
}

.footer-icons i {
    margin: 0px 5px;
    padding: 7px;
    background-color: #101010;
    border: 1px solid #101010;
    border-radius: 50%;
    cursor: pointer;
}

.footer-icons .fa-facebook-f,
.footer-icons .fa-tumblr {
    padding: 7px 10px;
}

.footer-icons .fa-facebook-f:hover {
    background-color: #4267B2;
    border: 1px solid #4267B2;
}

.footer-icons .fa-google-plus-g:hover {
    background-color: #DB4A39;
    border: 1px solid #DB4A39;
}

.footer-icons .fa-tumblr:hover {
    background-color: #34526f;
    border: 1px solid #34526f;
}

.footer-icons .fa-twitter:hover {
    background-color: #00acee;
    border: 1px solid #00acee;
}

.footer-icons .fa-youtube:hover {
    background-color: #c4302b;
    border: 1px solid #c4302b;
}

@media (max-width: 768px) {
    .who-caption {
        margin: 30px 0px;
    }
    .counter {
        height: 160%;
    }
    .question {
        height: 175vh;
    }
}


/* end of home css code */


/* start of classes css code */

.classes-header {
    background-image: url('../Images/slide2.jpg');
    background-size: cover;
    height: 60vh;
}

.classes-header h2 {
    font-size: 60px;
    font-weight: 900;
}

.classes-header p {
    font-size: 18px;
}


/* end of header section css */

.pump h2 {
    font-size: 38px;
    font-weight: 700;
}

.pump i {
    font-size: 18px;
    color: #ef5350;
}


/* end of pump section css */

.ABS {
    background-color: #1f1f1f;
}

.ABS h2 {
    font-size: 38px;
    font-weight: 700;
}

.ABS i {
    font-size: 18px;
    color: #ef5350;
}


/* end of ABS section css */

.gallary h2,
h3 {
    font-size: 38px;
    font-weight: 700;
}

.gallary h3 {
    font-size: 32px;
}

.gallary i {
    color: #ef5350;
}

.gallary-cards .col-md-4 {
    overflow: hidden;
    cursor: pointer;
}

.gallary-cards .overlay {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 1s opacity;
}

.gallary-cards .overlay i {
    color: #fff;
    font-size: 28px;
}

.gallary-cards .col-md-4 img {
    transition: 1s all;
}

.gallary-cards .overlay:hover {
    opacity: 1;
}

.gallary-cards .col-md-4:hover img {
    transform: scale(1.1);
}


/* end of gallary section */

.join1 {
    background-image: url('../Images/slide2.jpg');
    background-size: cover;
    background-position: center top;
    height: 70vh;
}

.join1 .layerr {
    background-color: rgba(0, 0, 0, 0.6);
}

.join1 h2 {
    font-size: 38px;
    font-weight: 700;
}


/* end of classes section css code */

.join-header {
    background-image: url('../Images/slide1.jpg');
    background-size: cover;
    height: 60vh;
}

.join-header h2 {
    font-size: 60px;
    font-weight: 900;
}

.join-header p {
    font-size: 18px;
}

.join select {
    padding: 50px 0px !important;
}

.submit h2 {
    font-size: 40px;
}

.btn-col2 {
    background-color: #ef5350;
    color: #fff;
    font-size: 16px;
}

.btn-col2:hover {
    color: #fff;
}

.join-card {
    background-color: #1f1f1f;
}

.darkk {
    background-color: #232323;
}

.line {
    background-color: #fff;
    width: 100%;
    height: 1px;
}

.join-card .card {
    cursor: pointer;
    position: relative;
    transition: 2s all;
}

.join-card .card:hover {
    box-shadow: 2px 2px 2px #232323;
    bottom: 8px;
}

.btn-col3 {
    background-color: #333;
    color: #fff;
}

.btn-col3:hover {
    background-color: #989696;
    color: #fff;
}

.pink {
    background-color: #ef5350;
}

.join-card .head h2 {
    font-size: 38px;
}

.join-card .head span {
    color: #ef5350;
}

.member-header {
    background-image: url('../Images/full-1.jpg');
    background-size: cover;
    height: 60vh;
}

.member-header h2 {
    font-size: 60px;
    font-weight: 900;
}

.member-header p {
    font-size: 18px;
}